
<div id="page">
<div class="container" ng-controller="userController">
<h1 class="form-heading">login Form</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Login</h2>
   <p>Please enter your User Name and Password</p>
   </div>
    <form id="Login">

        <div class="form-group">


            <input type="text" class="form-control" id="inputUsername" placeholder="User Name" ng-model="user.username" required/>

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password"  required/>

        </div>
        
        <button type="submit" class="btn btn-primary" value="Log In" ng-click="loginCheck()">Log In</button>

    </form>
    </div>

</div></div>
</div>
